*{
	margin: 0px;
	cursor: none;
}

#banner{
	background-color: #444;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 30px;
	font-style: italic;
	text-align: left;
	color: #fff;
	padding: 0px 0px 5px 5px;	/*make the banner look more centered*/
}

#timer{
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px 5px 0px 0px;
	font-style: normal;
	color: #888;
}

#container{
	background-color: #444;
	position: relative;	/*necessary for positioning children*/
}

#column{
	background-color: #6b6b6b;
	width: 100%;
	text-align: center;
	margin: auto;
}

.row{
	font-family: 'Roboto Mono', monospace;
	overflow: auto;
	display: flex;
	justify-content: center;
	font-size: 50px;
}

.price{
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	color: #fff;
}

.coin{
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	font-weight: bold;
	color: #99e7ff;
}

#info{
	position: absolute;
	bottom: 0px;
	width: 100%;
	color: #fff;
}

#subinfo{
	display: flex;
	justify-content: space-between;
	padding: 0px 5px 0px 5px;
}

#ip{
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	font-size: 20px;
}

#url{
	font-family: 'Arial';
	font-weight: bold;
	font-size: 20px;
}
